<footer class="bg-main-light py-4">
    <div class="container">
            <h3>Get The FreshCart App</h3>
            <p>We Will Send You A Link, Open It In Your Phone To Daownload App</p>
            <div class="d-flex gap-3">
                <input type="email" class="form-control" placeholder="Email....">
                <button class="main-btn flex-shrink-0">Share App Link</button>
            </div>
            <hr>
            <h3 class="h6 text-center">&copy; 2023 Mohab Belkan All Rights Reserved</h3>

    </div>

</footer>