
<section *ngIf="step1" class="w-50 shadow bg-main-light p-3 mt-5 mb-3 rounded mx-auto">
  <form [formGroup]="forgetPassForm" (ngSubmit)="forgetPassword()">
    <h3 class="mb-3 text-center">Forget Password</h3>

    <label class="fw-bold mb-2" for="Email">Email</label>
    <input formControlName="email" type="email" class="form-control" id="Email">


    <div class="alert alert-danger mt-2"
         *ngIf="forgetPassForm.get('email')?.errors && (forgetPassForm.get('email')?.touched || forgetPassForm.get('email')?.dirty)">
      <p *ngIf="forgetPassForm.get('email')?.getError('required')">Email is required.</p>
      <p *ngIf="forgetPassForm.get('email')?.getError('pattern')">Enter a valid email.</p>
    </div>

    <button class="btn btn-success d-block mx-auto mt-4" [disabled]="forgetPassForm.invalid || loading">
      Send Code
      <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span>
    </button>

    <p *ngIf="userMes" class="alert alert-info text-center mb-0 p-1 mx-auto w-75 mt-2">
      {{userMes}}
    </p>
  </form>
</section>


<section *ngIf="step2" class="w-50 shadow bg-main-light p-3 mt-5 mb-3 rounded mx-auto">
  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <h3 class="mb-3 text-center">Enter Reset Code</h3>

    <label class="fw-bold mb-2" for="resetCode">Reset Code</label>
    <input formControlName="resetCode" type="text" class="form-control" id="resetCode">


    <div class="alert alert-danger mt-2"
         *ngIf="resetCodeForm.get('resetCode')?.errors && (resetCodeForm.get('resetCode')?.touched || resetCodeForm.get('resetCode')?.dirty)">
      <p *ngIf="resetCodeForm.get('resetCode')?.getError('required')">Reset code is required.</p>
      <p *ngIf="resetCodeForm.get('resetCode')?.getError('minlength')">Reset code must be at least 4 digits.</p>
    </div>

    <button class="btn btn-success d-block mx-auto mt-4" [disabled]="resetCodeForm.invalid || loading">
      Confirm
      <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span>
    </button>

    <p *ngIf="userMes" class="alert alert-info text-center mb-0 p-1 mx-auto w-75 mt-2">
      {{userMes}}
    </p>
  </form>
</section>


<section *ngIf="step3" class="w-50 shadow bg-main-light p-3 mt-5 mb-3 rounded mx-auto">
  <form [formGroup]="resetPassForm" (ngSubmit)="newPassword()">
    <h3 class="mb-3 text-center">Set New Password</h3>

    <label class="fw-bold mb-2" for="newPass">New Password</label>
    <input formControlName="newPassword" type="password" class="form-control" id="newPass">


    <div class="alert alert-danger mt-2"
         *ngIf="resetPassForm.get('newPassword')?.errors && (resetPassForm.get('newPassword')?.touched || resetPassForm.get('newPassword')?.dirty)">
      <p *ngIf="resetPassForm.get('newPassword')?.getError('required')">Password is required.</p>
      <p *ngIf="resetPassForm.get('newPassword')?.getError('pattern')">
        Password must be 5–20 characters (letters, numbers, underscore).
      </p>
    </div>

    <button class="btn btn-success d-block mx-auto mt-4" [disabled]="resetPassForm.invalid || loading">
      Reset Password
      <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span>
    </button>

    <p *ngIf="userMes" class="alert alert-info text-center mb-0 p-1 mx-auto w-75 mt-2">
      {{userMes}}
    </p>
  </form>
</section>
